body {
    font-family: 'Inter', sans-serif;
    background-color: #73b1c1;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300;
}

.navbar {
    background-color: #36626a;
    padding: 10px 0;
}

.navbar-brand {
    padding-left: 5%;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: 1px solid black;
}

.navbar-toggler-icon {
    background-color: black;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ccc !important;
}

.program-block {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.program-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.program-description {
    margin-bottom: 15px;
}

.image-carousel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.image-carousel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.action-buttons button {
    margin-right: 10px;
}

.update-form {
    display: none; 
    margin-top: 15px;
}


footer {
    padding: 1rem;
    text-align: center;
    bottom: 0;
}


.program-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image-carousel {
    width: 40%; 
}

.image-carousel img {
    width: 100%;
    border-radius: 8px; 
}

.program-details {
    width: 55%; 
    padding-left: 10px; 
}

.action-buttons {
    display: flex;
    gap: 10px;
}

#addProgramForm {
    max-width: 80%;
    margin: 0 auto; 
}

label {
    display: block;
    margin-bottom: 8px;
}

label {
    width: 100%;
}

label, input, textarea {
    display: inline-block;
}

input[type="text"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-sizing: border-box;
}

button {
    background-color: #36626a; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


img {
    max-width: 100%;
    height: auto;
}

iframe {
    margin-top: 0;
    width: 100%;
    height: 445px;
    width: 445px;
}

footer {
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

.carousel-inner img {
    border-radius: 18px !important;
    height: 300px;
    object-fit: cover;
}

